<h1><%= @blog.title %></h1>
<p><%= @blog.date %></p>

<div class="blog-body">
  <p><%= @blog.body %></p>
  <p><%= link_to 'edit', edit_blog_path(@blog) %> | <%= link_to 'delete', blog_path(@blog), data: { confirm: "Are you sure?", method: "delete" } %></p>
</div>

<% if @blog.comments.any? %>
<div>
  <ul>
  <% @blog.comments.each do |comment| %>
    <li class="comments"><%= comment.comment_body %> <%= link_to 'edit', edit_blog_comment_path(@blog, comment) %> | <%= link_to 'delete comment', blog_comment_path(@blog, comment), data: { confirm: "Are you sure?", method: "delete" } %></li>
  <% end %>
  </ul>
</div>
<% end %>

<p><%= link_to 'Add comment', new_blog_comment_path(@blog, @comment) %>

<p><%= link_to 'Return to main page', blogs_path %></p>
